@import "../variables/variables.scss";

.btn {
   background-color: orange;
   border: none;
   border-radius: 50px;
   color: white;
   cursor: pointer;
   font-weight: bold;
   font-size: 10px;
   margin: 5px;
   outline: none;
   padding: 10px 20px;
   transition: all 1s;

   @each $name-color, $bgcolor in $button-bg {
      &.#{$name-color} {
         position: relative;
         background-image: $bgcolor;

         &:hover {
            &:before {
               content: "";
               position: absolute;
               bottom: -5px;
               width: 98%;
               height: 100%;
               right: -2px;
               z-index: -1;
               opacity: 0.1;
               border-radius: 50px;
               margin: 0 auto;
               background-image: $bgcolor;
            }
         }
      }
   }

   @each $name-size, $size in $button-size {
      &.#{$name-size} {
         font-size: $size;
         padding: $size/1.5 $size * 2;
         transition: all 0.1s;

         &:hover {
            font-size: $size * 1.1;
            padding: $size/1.4 $size * 2;
         }
      }
   }
}
